# Copiar a .env cuando ejecutes con Docker
# cp .env.docker.example .env

APP_NAME="Catalog Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=catalog-db
DB_PORT=3306
DB_DATABASE=catalog_db
DB_USERNAME=root
DB_PASSWORD=root

REDIS_HOST=redis
CACHE_STORE=redis
SESSION_DRIVER=redis

# Después: php artisan key:generate && php artisan migrate --force
