# Copiar a .env cuando ejecutes con Docker
# cp .env.docker.example .env

APP_NAME="Orders Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=orders-db
DB_PORT=3306
DB_DATABASE=orders_db
DB_USERNAME=root
DB_PASSWORD=root

AUTH_SERVICE_URL=http://auth-service:8000
CATALOG_SERVICE_URL=http://catalog-service:8000
DRIVERS_SERVICE_URL=http://drivers-service:8000

REDIS_HOST=redis
CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=database

BROADCAST_CONNECTION=reverb
REVERB_APP_ID=domi-ubi
REVERB_APP_KEY=domi-ubi-key
REVERB_APP_SECRET=domi-ubi-secret
REVERB_HOST=realtime-service
REVERB_PORT=8080
REVERB_SCHEME=http

# Después: php artisan key:generate && php artisan migrate --force
