# Copiar a .env cuando ejecutes con Docker
# cp .env.docker.example .env

APP_NAME="Trips Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=trips-db
DB_PORT=3306
DB_DATABASE=trips_db
DB_USERNAME=root
DB_PASSWORD=root

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=database

# Ejecutar después: php artisan key:generate && php artisan migrate
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
